[Unit]
Description=kAFS Dynamic Root mount
ConditionPathExists=/kafs

[Mount]
What=none
Where=/kafs
Type=afs
Options=_netdev,dyn

[Install]
WantedBy=remote-fs.target
