changelog
copyright
kafs-client/
kafs-client.afs.mount
kafs-client.kafs-config.service
kafs-client-dev/
*.log
*.substvars
files
debhelper-build-stamp
*.postinst.debhelper
*.prerm.debhelper
*.postrm.debhelper
*.swp
tmp/
